body {
  background-color: #ccffcc; }

header {
  background-color: #00e600; }

h1, h2, h3 {
  font-weight: bold;
  font-family: verdana;
  text-align: center; }

h1 {
  font-size: 25px;
  color: #ff6666; }

h2 {
  font-size: 20x;
  color: #66b3ff; }

h3 {
  font-size: 15px;
  color: #ffff00; }

p {
  font-weight: bold; }
  p a {
    color: #AAA; }
    p a:hover {
      color: #FF0000; }

nav {
  background-color: #80ff80; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: inline-block; }
  nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.container {
  width: 100%; }

article[role="main"] {
  float: left;
  width: 62.5%; }

aside[role="complementary"] {
  float: right;
  width: 31.25%; }

.container {
  width: 100%; }

article[role="main"] {
  float: left;
  width: 62.5%; }

aside[role="complementary"] {
  float: right;
  width: 31.25%; }
